<div class="todo" [class.done]="toDo$.status">
    <div class="todo-content">
        <div class="handle">
        </div>
        <div class="todo-content-check">
            <img *ngIf=!toDo$.status (click)="changeCheck($event)" src="./assets/svg/checkbox-empty.svg" alt="">
            <img *ngIf=toDo$.status (click)="changeCheck($event)" src="./assets/svg/checkbox-done.svg" alt="">
        </div>
        <div class="todo-content-titel">
            <input (blur)="changeLabel($event)" type="text" [(ngModel)]="toDo$.label" placeholder="Name des ToDoS">
        </div>
    </div>
    <div class="delete" (click)="deleteToDo($event)">
        <span>Löschen</span>
    </div>
</div>