<div class="todo-form">
    <div class="todo-content">
        <input type="text" (keyup.enter)="createToDo($event)" [(ngModel)]="toDo$.label" placeholder="Name des TodoS">
    </div>
    <div class="create" (click)="createToDo($event)">
        <span>Erstellen</span>
    </div>
</div>